# Visual Studio関連の一時ファイル・設定ファイル
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# ビルド結果・キャッシュ
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
*.cache

# NuGetパッケージ関連
*.nupkg
packages/
project.lock.json
.nuget/

# Mac / Windows システムファイル
.DS_Store
Thumbs.db